port: 4222

log_file: "/tmp/nats-server.log"

accounts {
  $SYS: {
    users: [
      { user: sys, password: sys }
    ]
  }
}

jetstream {
	store_dir: /data/jetstream
}

cluster: {
  name: {{ .ClusterName }}
  port: 6222
  routes: [
  	{{ .ClusterRoutesString }}
  ]
}
