#cloud-config
write_files:
  - path: /home/ubuntu/ngs.creds
    content: |
		{{ .Creds }}
runcmd:
  - apt-get update && apt-get upgrade
  - apt-get install ca-certificates
  - mkdir -p /nats/bin
  - wget -O - 'https://binaries.nats.dev/nats-io/nats-server/v2@v2.10.4' | PREFIX=/nats/bin/ sh
  - chmod a+x /nats/bin/nats-server
  - ln -ns /nats/bin/nats-server /bin/nats-server
  - ln -ns /nats/bin/nats-server /nats-server
  - ln -ns /nats/bin/nats-server /usr/local/bin/nats-server
  - snap install go --classic
  - go install github.com/ReubenMathew/smithy@main
  - smithy start-agent -server=tls://connect.ngs.global -creds=/home/ubuntu/ngs.creds -cluster {{ .ClusterId }} -id {{ .InstanceId }}
