#cloud-config
write_files:
  - path: /home/ubuntu/ngs.creds
    content: "{{ .Creds }}"
    encoding: "b64"
runcmd:
  - apt-get update && apt-get upgrade
  - apt-get install ca-certificates
  - mkdir -p /nats/bin
  - wget -O - 'https://binaries.nats.dev/nats-io/nats-server/v2@v2.10.4' | PREFIX=/nats/bin/ sh
  - chmod a+x /nats/bin/nats-server
  - ln -ns /nats/bin/nats-server /bin/nats-server
  - ln -ns /nats/bin/nats-server /nats-server
  - ln -ns /nats/bin/nats-server /usr/local/bin/nats-server
  - curl -sL https://github.com/ReubenMathew/smithy/releases/download/v0.0.7/smithy_0.0.7_linux_amd64.tar.gz -o smithy-temp
  - tar -xzf smithy-temp
  - smithy start-agent -server=tls://connect.ngs.global -creds=/home/ubuntu/ngs.creds -cluster {{ .ClusterId }} -id {{ .InstanceId }} > /home/ubuntu/smithy.log
